.Strength-container {
    display : flex;
    padding-left: 206px;
    justify-content : space-evenly;
    padding-top: 100px;
    padding-right: 206px;
}

.Strength-list {
    padding-left: 86px;
}

@media (max-width: 600px) {
  .Strength-container {
    display: contents;
    background-color: #F1F3FF;
    font-size: 20px;
}
  .responsive {
  width: 100%;
  height: auto;
}
}