.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.icon-social {
    column-gap: 10px;
}

.List-footer a {
    display: flex;
    color: black;
}

@media (max-width: 600px) {
    .footer-container {
      display: contents;
      background-color: #F1F3FF;
      font-size: 20px;
  }
    .responsive {
    width: 100%;
    height: auto;
  }
  }